<!-- form.html.erb -->


<div class="inner-container">
  <% if flash[:success] %>
    <h3 class="flash-success">You've succesfully been added to our mailing list!</h3>
  <% elsif flash[:already_subscribed] %>
    <h3 class="error">You're email has already been submitted to the mailing list!</h3>
  <% end %> 

  <h2>Please submit your information to get onto the mailing list:</h2>
  <br>
  <%= form_tag '/form-post', multipart: true do %>
    <%= label_tag 'Full name' %>
    <%= text_field_tag 'name' %>
    <br/>
    <%= label_tag 'email' %>
    <%= email_field_tag 'email' %>
    <span class="error" id="companyEmail">Please submit a company email address (e.g. foobar@percolate.com)</span>
    <br/>
    <%= submit_tag "Submit", id: "submit", class: "btn btn-default"%>
  <% end %>  
</div>

<%= javascript_include_tag :validations %> 